.header{
width: 100vw;
display:flex;
justify-content:space-between;
align-items: center;
}

h1 img{
width:10vw;
margin:10px 20px; 
vertical-align:bottom;
}


.header__nav{
width:40vw;
display:flex;
display: inline-block;
margin-right: 20px;
}

.nav-list{
display:flex;
padding-left: 0;
justify-content: space-between;
}

.header_nav-item {
list-style: none;
text-decoration-line:none;
}

.link1{
text-decoration: none;
color:darkgray;    
}

.top{
width:100vw;
display:flex;
justify-content: space-between;
}

.top__text-box{
position:relative;
top: 100px;
left: 25%;
}

.deco-text{
font-size: 60px;
color:#b41567;
font-family: 'Indie Flower', cursive;
line-height: 150%;
}

.red-text{
font-size: 36px;
color: #b41567;
font:bolder;
line-height: 150%;
}

.text{
font-size:14px;
color:darkgray;
line-height: 150%;
}

.green-text{
color:lightseagreen;
font:bolder;
}

.top__pic{
width:60%;
float:right;
margin-right: 0%;
}

.top-pic img{
width:100%    
}

.news{
width:100vw;
}

.news__title{
margin-top: 100px;
margin-left:25%;
}

.deco-text2{
color:#b41567;
font-family: 'Indie Flower', cursive;
font-size: 16px;
line-height:150%;
}

.large-text{
margin-top: 5px;
font-size:24px;
color: darkgray;
}

.news__table{
line-height:10px;
display:flex;
justify-content: space-between;
width:50vw;
margin:30px auto;
color:darkgray;
font-size: 16px;
border-top:solid 1px darkgray;
border-bottom:solid 1px darkgray;
border-collapse: collapse;
border-spacing: 10px 20px;
}

.table-date{
margin:5px auto;
color:darkgray;
display:inline-block;
text-align: center;
line-height: 200%;
padding:10px;
border-bottom:1px solid #ccc;
}

.table-date2 {
    margin-top: 5px auto;
    margin-bottom:20px;
    color: darkgray;
    display: inline-block;
    text-align: center;
    line-height: 200%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.news-tag{
text-align:center;
color:white;
background:#b41567;
border-radius: 20px;
padding:5px 10px;
width: 120px;
line-height: 200%;
display:inline;
}

.table-message {
width:500px;
color: darkgray;
display:inline-block;
text-align:left;
line-height: 200%;
border-bottom: 1px solid #ccc;
padding: 10px;
}


.about{
width:100vw;
background-color: #f5f5f5;
padding:50px 50px;

}

.about__title{
margin:50px auto;
text-align: center;
}

.about__content{
width:50vw;
margin:20px auto;
display:flex;
justify-content: space-between;
}

.content-text{
width:300px;
}

.text{
color: darkgray;
text-align: left;ƒ
}

.content-pic{
width: 300px;
margin-left:50px;
}

.content-pic img{
width:300px;
}

.service{
width:100vw;
padding:50px 50px;
}

.service__title{
margin-top:50px;
margin-left:20%;
}


.service__content{
display:flex;
width:60%;
margin: 20px auto;
color:white;
}

.service__content-large{
width:50%;
background-color: #b41567;
}

.service__content-large-pic{
width:100px;
margin:20px auto;
text-align: center;
}

.service__content-large-pic img{
width:100px;
display:inline;
text-align: center;
}

.service__content-large-title{
font-size:18px;
text-align: center;
line-height: 200%;
font-weight: bold;
}

.service__content-large-text{
margin:20px 20px;
line-height:200%;
}

.service__content-right {
width: 50%;
background-color: #B35B8B;
}

.service__content-right-top-text{
margin: 20px 20px;
font: size 12px;
text-align: left;
line-height: 200%;
}


.service__content-right-top{
display:flex;
height: 50%;
}

.service__content-right-top-pic{
display: flex;
align-items: center;
}

.service__content-right-top-pic img{
width:100px;
}

.service__content-right-bottom{
display:flex;
height:50%;
background-color:#B2889E;
}

.service__content-right-bottom img{
width:100px;
}

.blog{
width:100vw;
background-color: rgba(245, 245, 245, 1);
padding:50px;
}

.blog__title{
margin-left:20%;
}

.blog__card-container{
display:flex;
width:60%;
margin: 20px auto;
justify-content: space-between;
}

.card{
width:250px;
height:300px;
border-radius:10%;
background-color: white;
}

.card-top{
width:100%;
height:50%;
display:flex;
position:relative;
}

.card-top-tag{
position:absolute;
background:#b41567;
color:white;
margin-top:0px;
margin-left:0px;
width:80px;
height:40px;
display: flex;
display: flex;
align-items: center;
justify-content: center;
border-top-left-radius: 20px;

}

.card-top img{
margin-top: 0px;
margin-left: 0px;
width: 250px;;
height:150px;
display:inline-block;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.card-middle{
margin:10px 10px;
height:25%;
color:darkgray;
font-weight:bold;
display: flex;
align-items: center;
line-height: 200%;
}

.card-bottom{
margin:10px 10px;
height:25%;
display:flex;
align-items:center;
justify-content: space-around;
font: 10px;
}

.text2{
color:darkgray;
font-weight:bold;    
}

.blog__button{
margin:50px auto;
width: 200px;
height:50px;
color:#b41567;
border:solid 2px #b41567;
background-color: white;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: space-around;
}

.link2{
color:#b41567;
text-decoration: none;
}

.company{
width:100vw;
padding: 50px;
}

.company__title{
margin-left: 25%;
}

.company__table{
width:40vw;
margin:50px auto;
border: solid 1px #EEEEEE;
}

.company__table-row{
width:40vw;
border: solid 1px #EEEEEE;
line-height: 250%;
}

.company__table-header{
background:rgba(245, 245, 245, 1);
width:150px;
border: solid 1px #EEEEEE;
text-align: left;
color:darkgray;
margin-left:5px;
}

.company__recruit{
width:100vw;
display:flex;
padding:50px 0px;    
}

.info{
width:50%;
height:400px;
background-image:url(img/recruit.png);
background-size: cover;
background-repeat:no-repeat;
display:flex;
justify-content:center;
align-items:center;    
}

.interview{
width:50%;
height: 400px;
background-image:url(img/interview.png);
background-size:cover;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
}

.text3{
font-size:20px;
color:white;
font-weight: bold;    
}

.company__recruit-content{
width:100pw;
padding: 50px;px;
display:flex;
justify-content: center;
align-items: center;
}

.inquiry__button{
margin:0px auto 50px auto;
width:200px;
height:50px;
border-radius:20px;
background:linear-gradient(90deg,#FC1E8D,#b9176a);
color:white;
display: flex;
align-items: center;
justify-content: space-around;
box-shadow: 0px 10px 3px #840151;
}

.text4{
color:darkgray;
font-size:20px;
display: inline-block;
font-weight:bold;
position:relative;
line-hight:300%;
}

.text4::after{
content: '';
position: absolute;
left: 0;
right: 0;
bottom: -40px;
width: 2px;
height: 20px;
margin: auto;
background-color:#840151;
}

.inquiry__button-text{
display:inline-block;
}

.inquiry__button-text::before{
content:"";
background:url(img/mailicon.svg);
background-size: cover;
vertical-align: middle;
width:20px;
height:20px;
display:inline-block;
margin-right:10px;
}

footer{
background-color: rgba(245, 245, 245, 1);
display:flex;
align-items:center;
justify-content:center;    
}
.footer-text{
line-height: 300%;    
}